body {
    background-color: #0c486c;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    max-height: 90vh;
    margin-top: 40px;
}

.container {
    width: 80%;
    height: 600px;
    border-radius: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-container {
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

<<<<<<< HEAD
button {
    border-radius: 25px;
    margin-left: 9.5%;
    margin-top: 10%;
    height: 40px;
    width: 200px;
    transition: 0.4s;
}

button:hover{
    background: #0c486c;
    color: white;
=======
.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

button {
    background-color: var(--stroke);
    padding: 5px 10px;
    height: 35px;
    border-radius: 8px;
    border: var(--stroke);
    transition: 0.5s;
>>>>>>> 7e3a64746ce716065c95c78541f2f41692d225a2
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .container {
        max-width: 400px;
    }
}

@media only screen and (max-width: 280px) {
    .text {
        font-size: 12px;
    }
}