:root {
    --primary-color: #ffffff;
    --text: #000000;
    --stroke: #e9e9e9;

    --shadow: rgba(0, 0, 0, 0.2);
}

body {
    background-color: #0c486c;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: var(--text);
    margin: 0;
}

h1 {
    color: var(--primary-color);
}

button {
    background-color: var(--stroke);
    padding: 5px 10px;
    height: 35px;
    border-radius: 8px;
    border: var(--stroke);
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: var(--stroke);
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 25px;
    text-align: center;
}

.subtitles {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 350px;
    height: auto;
    pointer-events: none;
    z-index: 999;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow);
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px;
    transition: 0.5s;
}

.floating-navigation {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    z-index: 1000;
    background-color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 2px 4px var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    transition: 0.5s;
}

.floating-navigation span {
    pointer-events: none;
}

.floating-navigation button {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: var(--stroke);
}

.floating-navigation button:hover {
    cursor: pointer;
    background-color: var(--stroke);
}

img {
    width: 100%;
    transition: 1s;
    color: var(--primary-color);
}

.credits {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 25px;
    text-align: center;
}

.credits a {
    font-size: 20px;
    color: var(--primary-color);
}

.credits img {
    width: auto;
    max-height: 100px;
}

.imgRow {
    display: flex;
    gap: 10px;
}

.credits a:hover {
    color: var(--stroke);
}

.options {
    display: none;
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    z-index: 10000;
}

hr {
    border: 1px solid var(--stroke);
    width: 50%;
}

@media screen and (max-width: 768px) {
    .subtitles {
        font-size: 16px;
        top: 65% !important;
    }

    .floating-navigation {
        top: 90% !important;
    }
}